meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(name="Description", content=meta_descPage)
meta(name="Keywords", content=meta_keyWordsPage)
meta(property="fb:admins", content="1055109002")
meta(property="fb:app_id", content="619162705338879")
meta(property="og:url", content= meta_canonica)
meta(property="og:type", content="website") 
meta(property="og:title", content=meta_titlePage)
meta(property="og:description", content=meta_descPage)
meta(property="og:image", content=meta_ogImage)
link(rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png")
link(rel="stylesheet" href="./css/style.css")
//- link(rel="stylesheet", href="./css/animations/nasa.css")

//-script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous")

title #{meta_titlePage}